.page {
  background-color: #000000;
  min-width: 250px;
  max-width: 1280px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 45px auto 60px;
}

  @media screen and (max-width: 600px) {
    .page {
      margin: 28px 0 36px;
    }
  }