.popup__input-error {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 12px;
  line-height: 15px;
  color: red;
  margin: 5px 0 0;
}

.popup__input-error:first-of-type {
  margin-top: -25px;
}