.header {
  display: flex;
  flex-direction: row;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  max-width: 880px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto 40px;
}

  @media screen and (max-width: 984px) {
    .header {
        padding: 0 24px;
    }
  }
  
  @media screen and (max-width: 568px) {
    .header {
      padding: 0 16px;
    }
  }

  