.popup__form {
  display: flex;
  flex-direction: column;
  padding: 34px 36px 37px;
  background-color: white;
  margin-top: 32px;
  border-radius: 10px;
  max-width: 430px;
  max-height: 330px;
}


  @media screen and (max-width: 880px) {
    .popup__form {
      padding: 25px 22px;
      margin-top: 20px;
      max-width: 282px;
      max-height: 322px;
    }
  }

