.popup__form {
  display: flex;
  flex-direction: column;
  padding: 34px 36px 37px;
  background-color: white;
  margin-top: 8px;
  margin-right: 40px;
  border-radius: 10px;
  max-width: 430px;
}


  @media screen and (max-width: 910px) {
    .popup__form {
      margin-right: 0;
      padding: 25px 22px;
      margin-top: 16px;
      max-width: 282px;
    }
  }

