.elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
  padding: 0;
  max-width: 880px;
  min-width: 282px;
  width: 100%;
  margin: auto; 
}