.elements__element {
  /*object-fit: contain;*/
  max-width: 282px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  margin-right: 17px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.elements__element:nth-child(3) {
  margin-right: 0;
}

.elements__element:last-child {
  margin-right: 0;
}

  @media screen and (max-width: 881px) {
    .elements__element:nth-child(3) {
      margin-right: 17px;
    }

    .elements__element:nth-child(2) {
      margin-right: 0;
    }

    .elements__element:nth-child(4) {
      margin-right: 0;
    }
  }

  @media screen and (max-width: 582px) {
    .elements__element {
      margin: 0 0 20px;
    }
    .elements__element:nth-child(3) {
      margin-right: 0;
    }
  }
